body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(world_map.png);
    image-rendering: auto;
}

head {
    background-image: url(world_map.png);
}

#title {
    font-size: 30px;
    
}

#game-container {
    margin-top: 50px;
}

#flag-container {
    
    display:block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 27.8%;
   
}

#options-container button {
    margin: 5px;
}

#score {
    color: green;
}

#scoreTab {
    background-color: aliceblue;
    display:block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 27.8%;
}

#mistake {
    color: red;
}

