body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(world_map.png);
    image-rendering: auto;
}

head {
    background-image: url(world_map.png);
}

#title {
    font-size: 30px;
    
}

#game-container {
    margin-top: 50px;
}

#flag-container {
    
    display:block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 27.8%;
   
}

#options-container button {
    margin: 5px;
}

#score {
    color: green;
}

#scoreTab {
    background-color: aliceblue;
    display:block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 27.8%;
}

#mistake {
    color: red;
}

.navbar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: lightblue;
    top: 0;
    left: 0; 
    margin: 0; 
    padding: 0; 
}

.navbar button {
    margin: 5px;
    padding: 10px;
    font-size: 18px;
}

.navbar button i {
    margin-right: 5px;
    font-size: 20px;
}
